---
interface Props {
	pageId?: string;
}
const { pageId } = Astro.props;
const DISQUS_SHORTNAME = 'YOUR_SHORTNAME_HERE';
const pageUrl = Astro.url.toString();
const pageIdentifier = pageId ?? Astro.url.pathname;
---

<div class="disqus-wrap">
	<div id="disqus_thread"></div>
</div>

<script define:vars={{ DISQUS_SHORTNAME, pageUrl, pageIdentifier }}>
	window.disqus_config = function () {
		this.page.url = pageUrl;
		this.page.identifier = pageIdentifier;
		this.language = 'ja';
	};
	(function () {
		var d = document, s = d.createElement('script');
		s.src = 'https://' + DISQUS_SHORTNAME + '.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>
	コメントを表示するにはJavaScriptを有効にしてください。
	<a href="https://disqus.com/?ref_noscript">Disqus</a>を利用しています。
</noscript>

<style>
	.disqus-wrap {
		margin-top: 2.5em;
		padding-top: 2em;
		border-top: 1px solid rgb(var(--gray-light));
	}
</style>
