---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">🏢 {SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">ホーム</HeaderLink>
			<HeaderLink href="/blog">銘柄＆戦略の紹介</HeaderLink>
			<HeaderLink href="/org">組織図</HeaderLink>
			<HeaderLink href="/characters">メンバー</HeaderLink>
			<HeaderLink href="/about">筆者紹介</HeaderLink>
			<HeaderLink href="/search">🔍</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--accent-dark);
		box-shadow: 0 2px 8px rgba(0,0,0,20%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
		color: white;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: rgba(255,255,255,0.85);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
		color: white;
	}
	nav a:hover {
		color: white;
	}
	@media (max-width: 720px) {
		h2 {
			font-size: 0.9em;
		}
		nav a {
			padding: 1em 0.4em;
			font-size: 0.9em;
		}
	}
</style>
